@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  @apply text-5xl max-xl:text-4xl max-lg:text-3xl max-sm:text-2xl font-bold
}
h2 {
  @apply text-3xl max-lg:text-2xl max-sm:text-xl font-bold
}
h3 {
  @apply text-2xl max-lg:text-xl max-sm:text-lg font-bold
}

.img-in-frame {
  @apply aspect-square object-cover h-full
}

.nav {
  @apply bg-neutral-800 text-neutral-200 max-lg:px-5 px-10
}
.nav .menu {
  @apply flex gap-4 h-14 items-center text-[0.95rem]
}


.home .welcome {
  @apply absolute flex justify-center top-0 right-0 h-full w-[70%] max-lg:w-[70%] bg-gradient-to-l from-black/20 from-60% from-[#bebbb7]
}
.home .homeBg-img {
  @apply object-cover object-left-top max-xl:-ml-28 max-lg:-ml-32 max-md:-ml-36 h-full
}
.home .welcome h1.title {
  @apply text-7xl max-xl:text-6xl max-lg:text-5xl max-sm:text-4xl font-bold
}
.home .welcome h4 {
  @apply text-2xl pl-1 font-medium max-lg:text-xl max-sm:text-base font-bold tracking-tight
}
.home .welcome p {
  @apply pl-1 font-medium
}
.home .welcome a {
  @apply p-2 max-sm:p-1 max-sm:px-3 px-4 rounded-md flex items-center justify-center gap-1 font-medium max-sm:text-sm
}

.port .card {
  @apply w-[24%] max-lg:w-[30%] max-sm:w-[48%] relative aspect-square my-2 bg-black/20 rounded-lg overflow-hidden
         transition duration-[400ms] ease-in-out hover:scale-[1.02] cursor-pointer 
}
.port .card .info {
  @apply w-full h-[50%] absolute bottom-0 left-0 bg-gradient-to-t from-[#262626] from-50% from-[#262626]/90
         flex flex-col justify-end p-2 text-off-white
}

.about .skill-container {
  @apply w-[80%] max-lg:w-[90%] max-md:w-[95%] flex justify-between gap-3 max-md:gap-1 flex-wrap
}
.about .skill-wrap {
  @apply w-[49%] aspect-[16/9] bg-white flex flex-col justify-between items-center py-3 pt-5
}
.about .skill {
  @apply w-[75%] max-md:w-[85%] flex justify-center items-center gap-5 flex-wrap max-md:gap-2 pb-2
}
.about .skill > img {
  @apply w-[5.4rem] max-xl:w-[3.9rem] max-lg:w-[3.2rem] max-md:w-[2.8rem] max-sm:w-[2.2rem] aspect-square
}